@import "../../style/shared.less";

.section{
	.container-center();
	padding-top: 50px;
	padding-bottom: 150px;
	//display: flex;
//	justify-content: center;
}

.quote{
	font-style: italic;
}