.section{
	width: 33.3333%;
	display: flex;
	//margin: 10px;
}

.logo{
	height: 47px; 
	width: 40px; 
	background-color:blue;
}

.header{
	margin-top: 0px;
}

.content{
	padding-left: 20px;
	padding-bottom: 20px;
	flex: 1;
}