@import "../../style/icons.less";


@import "../../style/variables.less";

.section{
	width: 33.3333%;
	display: flex;
}

.logo{
	width: 40px; 
}

.header{
	margin-top: 0px;
}

.content{
	padding-left: 20px;
	padding-bottom: 20px;
	flex: 1;
}


@media (max-width: @tablet-view) {
  .section{
	width: 50%;
  }
}

@media (max-width: @mobile-view) {
  .section{
	width: 100%;
  }
}